li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    margin: 10px 0px;
    color: #000000;
    padding-left: 10px;
}

.subscription__description::marker {
    content: "+";
}