header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background: #000000;
    z-index: 1;
    border: 1px solid red;
}

header .header__content {
    width: 1150px;
    border: 1px solid blue;
}

header .header__content nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}